<!-- <div *ngIf="Usuario !== null" class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{Usuario.nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">se llama {{Usuario.nombre}} </h6>
    <h5 class="card-title">{{Usuario.apellido}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">se apellida {{Usuario.apellido}} </h6>

    <h5 class="card-title">{{Usuario.edad}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">tiene {{Usuario.edad}} años</h6>

    <h5 class="card-title">{{Usuario.correo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">contacto: {{Usuario.correo}} </h6>

    <h5 class="card-title">{{Usuario.imagen}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Foto de perfil{{Usuario.apellido}}</h6>
    <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Delete</button>
  </div>

</div> -->
