<div style="width: 18rem;">

  <h1>Perfiles usuario</h1>

    <div class="card-body">
      <h5 class="card-title">{{usuario.imagen}}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><img src="https://image.flaticon.com/icons/png/512/17/17004.png" width="50%" alt=""></h6>

      <h5 class="card-title">{{usuario.nombre}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">se llama:{{usuario.imagen}} </h6>
      <h5 class="card-title">{{usuario.apellido}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">se apellida: </h6>

      <h5 class="card-title">{{usuario.edad}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">tiene:  años</h6>

      <h5 class="card-title">{{usuario.correo}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">contacto:  </h6>

    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted"><img src="https://image.flaticon.com/icons/png/512/17/17004.png" width="50%" alt=""></h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se llama: </h6>
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se apellida: </h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">tiene:  años</h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">contacto:  </h6>

    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted"><img src="https://image.flaticon.com/icons/png/512/17/17004.png" width="50%" alt=""></h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se llama: </h6>
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se apellida: </h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">tiene:  años</h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">contacto:  </h6>

    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted"><img src="https://image.flaticon.com/icons/png/512/17/17004.png" width="50%" alt=""></h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se llama: </h6>
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se apellida: </h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">tiene:  años</h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">contacto:  </h6>

    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted"><img src="https://image.flaticon.com/icons/png/512/17/17004.png" width="50%" alt=""></h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se llama: </h6>
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">se apellida: </h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">tiene:  años</h6>

      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">contacto:  </h6>

    </div>
  </div>
